body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('../images/Wallpaper_Charge/Wallpaper.webp');
    background-size: cover;
    background-position: center;
}

/*=======================================================================///COMENTARIOS DEL TOPITO RANDOM */
#mole-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url('../images/favicon/Mole1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
}
#random-comment {
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1001;
}
/*=======================================================================///COMENTARIOS DEL TOPITO RANDOM */



/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´SCOREBOARD*/
#scoreboard {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#score, #misses, #tickets, #prize-pot {
    font-size: 1em;
}
/*´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´´SCOREBOARD*/

#game-container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
}





.hole {
    width: 14%;
    height: 14%;
    position: absolute;
    overflow: hidden;
}
.hole img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mole {
    width: 60%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -100%;
    transition: bottom 0.8s;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    /* filter: drop-shadow(0 0 10px rgb(255, 255, 255)); */
}

.mole.up {
    bottom: 0;
}

.mole:hover {
    overflow: visible;
    z-index: 1000;
    /* transform: scale(1.8); */
    width: 60%;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.532));
}





.curtain {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    transition: bottom 0.5s;
    z-index: 2;
}

.curtain.up {
    bottom: 0;
}

.curtain.down {
    bottom: -100%;
}

.mole {
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: -100%;
    transition: bottom 0.3s;
    z-index: 3;
    cursor: pointer;
}

.mole.up {
    bottom: 0;
}

















